.about-1 {
  margin-bottom: 30px;
  padding: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.about-1 h1 {
  font-family: "Carter One", cursive;
  text-align: center;
  font-size: 3.2rem;
  background: -webkit-linear-gradient(#aeffb9, #a091ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-top: 2.4rem;
}

.about-1 p {
  text-align: center;
  padding: 3px;
  color: #fff;
}

.about-item {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 5rem;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 3rem 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(2px);
  padding: 80px 30px;
}

.about-item i {
  font-size: 43px;
  margin: 0;
}

.about-item h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-item hr {
  width: 46px;
  height: 3px;
  background-color: #5fbff9;
  margin: 0 auto;
  border: none;
  text-align: center;
}

.about-item:hover {
  color: black;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  transition: transform 200ms;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: black;
}
.about-item:hover hr {
  background-color: black;
}

/* translate Y: move along the Y axis, negative(-20) moves it up, while positive(20) moves in down by */
.about-item:hover i {
  transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr {
  transition: all 400ms ease-in-out;
}

.about-us-container {
  padding-bottom: 50px;
}

/* Responsive */
@media (max-width: 420px) {
  .about-item {
    padding: 40px;
    margin-bottom: 3rem;
  }
  .about-item p {
    margin-bottom: 0px;
  }
}

@media (min-width: 820px) and (max-width: 820px) {
  .about-item {
    padding: 40px;
    margin-bottom: 3rem;
  }
  .about-item p {
    margin-bottom: 0px;
  }
}
