.carousel-item {
  height: 40rem;
  background: #777;
  color: white;
}

.carousel-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.carousel-inner {
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem black;
}
