.chat-icon-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 20;
  border-radius: 50%;
  box-shadow: 5px 5px 20px #fff;
}

.chat-icon-container a {
  text-decoration: none;
}

.chat-icon-container:hover {
  box-shadow: 8px 8px 20px #fff;
}

.chat-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: 2px solid rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
}

.chat-button i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
  color: white;
}

.firebase-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  padding: 70px 0 10rem 0;
}

.firebase-chat-container {
  display: flex;
  width: 85rem;
  height: 50rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.firebase-chat div::-webkit-scrollbar {
  width: 10px;
}

.firebase-chat div::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
}

.firebase-chat div::-webkit-scrollbar-track {
  background: none;
}

.firebase-chat-sidebar {
  width: 23rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.chat-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;  
  padding: 1.2rem;
  background-color: #2f2d52;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.chat-navbar svg {
  color: rgb(38, 235, 38);
  padding-right: 10px;
}

.chat-navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.user-chats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user-chats span {
  font-size: 1.5rem;
}

.user-chats img {
  height: 40px;
  width: 40px;
  outline: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  object-fit: cover;
}

.search-form {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.search-form svg {
  font-size: 1.7rem;
  margin-left: 0.5rem;
/*   margin-right: 1rem; */
  margin-right: 0.5rem;
}

.search-form input {
  width: 270px;
  height: 40px;
  background-color: transparent;
/*   border: 1px solid rgba(255, 255, 255, 0.5); */  
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding-left: 1rem;
}

.search-form input::placeholder {
  color: lightgrey;
}

.user-list img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  outline: 2px solid rgba(255, 255, 255, 0.5);
}

.user-list {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1em;
  cursor: pointer;
  font-size: 1.5rem;
}

.user-list:hover {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  color: black;
  font-weight: bold;
}

.user-list:hover > img {
  outline: 2px solid rgba(0, 0, 0, 0.9);
}

.user-info p {
  margin: 0;
  font-size: 1.1rem;
}

.chat-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 62rem;
  height: 5rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.chat-info span {
  font-size: 2rem;
  line-height: 2rem;
}

.chat-icons {
  display: flex;
  gap: 1.3rem;
  cursor: pointer;
}

.chat-icons svg {
  font-size: 2rem;
}

.chat-input {
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.4);
  color: black;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.chat-input input[type=file],
.chat-input input[type=text] {
  width: 100%;
  padding-left: 1rem;
  margin-left: 1rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-left: 1px solid white;
  color: #fff;
}

.chat-input input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.attachments {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.attachments svg {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.send-btn input {
  margin: 0;
  padding: 0;
  border: none;
}

.send-btn svg {
  font-size: 2rem;
  transform: rotate(90deg);
  color: #fff;
  cursor: pointer;
}

.messages {
  background: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  height: calc(100% - 8.5em);
  overflow-y: scroll;
}

.message {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}

.message-info {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.message-info span {
  margin-top: 0.5rem;
  transform: translate(-70px, 70px);
}

.message-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  outline: 2px solid rgba(255, 255, 255, 0.5);
}

.message-content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message-content img {
  width: 50%;
}

.message-content p {
  padding: 0.6rem 2.7rem 0.6rem 0.9rem;
  border-radius: 0 10px 10px 10px;
  color: #fff;
}

.owner {
  flex-direction: row-reverse;
}

.owner p {
  background: rgba(255, 255, 255, 0.4);
  color: white;
  border-radius: 10px 0 10px 10px;
}
