.select-style {
  width: 25%;
  margin: 20px 200px;
  text-align: start;
}

.experts-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 11rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  gap: 5rem;
}

.experts-box {
  width: 400px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  text-align: center;
  padding: 40px 90px;
  color: #fff;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.experts-box h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  margin-top: 20px;
}

.experts-box p {
  margin-bottom: 0;
  padding: 0 0.5rem;
  color: #fff;
}

.experts-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px;
}

.experts-social-icons {
  display: flex;
  column-gap: 25px;
  justify-content: center;
}

.experts-social {
  width: 55px;
  height: 55px;
  margin-top: 1.1rem;
  margin-bottom: 1.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid rgba(255, 255, 255, 0.5);
  transition-property: 
  outline-offset,
  outline-color,
  background-color;
  transition-duration: 0.25s;
}

.experts-social:hover {
  outline-offset: 4px;
  color: #fff;
}

.experts-social:hover i {
  animation: shake 0.25s;
}

.experts-social-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

.experts-social-twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.experts-social-facebook:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

.experts-bottom {
  background: rgba(255, 255, 255, 0.15);
  padding: 60px 0 40px;
  margin: -15px -90px -40px;
  border-radius: 20px;
}

.experts-bottom span {
  margin-top: 20px;
}

.experts-box button {
  background: lightgray;
  color: black;
  margin-bottom: -50px;
  font-weight: bold;
  width: 170px;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  outline: none;
  transition: ease-out 0.3s;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 1;
}

.experts-box button:hover {
  color: black;
}

.experts-box button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  border-radius: 30px;
}

.experts-box button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

@media(max-width: 3000px) {
  .experts-container {
   padding-bottom: 225px;
  }
}