.add-fav {
    background: rgb(244, 67, 54, .5);
    border: 0;
    border-radius: 6px;
    width: 55px;
    height: 55px;
    color: rgb(55, 0, 2);
    font-size: 40px;
    cursor: pointer;
    transition: all .3s ease;
}

.add-fav:hover {
    background: rgb(244, 67, 54, .9);
}

.add-fav span {
    display: flex; 
    justify-content: center; 
    align-items: center;
}