
.about-container {
  background-color: rgba(36, 38, 43, 1);
}

#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-main {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.home-main h1 {
  font-family: "Carter One", cursive;
  font-size: 4rem;
}

.home-main ul {
  list-style-type: none;
}

.home-main a {
  text-decoration: none;
}

.home-btn {
  padding: 12px 32px;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 1rem;
  font-family: "Rajdhani", sans-serif;
}

.home-btn:hover {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  color: black;
  font-weight: bold;
}

.home-btn-light {
  background: rgba(255, 255, 255, 0.2);
}

.home-btn-light:hover {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  color: black;
  font-weight: bold;
}

.home-main .home-content {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 40vh;
}

.home-main .home-content {
  font-size: 4rem;
  color: #fff;
}

.home-main p {
  font-size: 2.2rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
}

.home-main .home-btn {
  margin: 1rem .2rem;
}

@media screen and (max-width:640px) {
  .home-content h1 {
      font-size: 3rem;
  }

  .home-content p {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
  }
}