@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap');


.home-margin {
    margin-right: 50px;
}

.home-searchbar{
    padding: 0 0 20px 40px;
}

.styles-title {
    position: relative;
    font-size: 4em;
    font-family: "Edu SA Beginner";
    letter-spacing: 15px;
    color: rgb(17, 228, 228);
    text-transform: uppercase;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% 
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% 
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4, 
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}