@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/423/625/non_2x/purple-abstract-bright-background-abstract-blurred-violet-background-free-vector.jpg");
  background-size: cover;
  background-position: center;
}

