@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Rajdhani&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

.palette {
  background: #8099E9;
  background: #17143D;
  background: #E99DC8;
  background: #FFFFFF;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #17143D, #8099E9, #E99DC8);
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8099E9;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background: rgba(134, 134, 134, 0.2);
}
