@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Rajdhani&display=swap");

.palette {  
  background: #17143D;
  background: #8099E9;
  background: #E99DC8;
  background: #FFFFFF;
}

.palette1 {
  background: #2E0249;
  background: #570A57;
  background: #A91079;
  background: #fc50dc;
}

.palette2 {
  background: #06283D;
  background: #1363DF;
  background: #47B5FF;
  background: #DFF6FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background: rgb(134, 134, 134);
}
