@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Rajdhani&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: url(https://i.imgur.com/Gcss377.jpg);
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.788);
}
