@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Rajdhani&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #483475, #6b4984, #855988);
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e997bd;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
