@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Rajdhani&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.788);
}
