.login-body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card {
  background-color: #212042;
  border-radius: 50px;
}

.main-div {
  height: 100vh;
}

p {
  font-size: 20px;
  font-weight: 500;
}

.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  width: 40px;
  transition: all 0.2s linear;
}

.fa:hover {
  cursor: pointer;
}

.twitter {
  color: #564bec;
}

.facebook {
  color: #1775f1;
}

.instagram {
  color: #fe4164;
}

.division {
  width: 100%;
  text-align: center;
  margin: 30px auto 20px;
}

.division span {
  font-weight: 500;
  font-size: 25px;
}

.form {
  padding: 0 25px 0 35px;
}

.bn {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  border-radius: 50px;
}

.left {
  width: 50%;
  float: left;
  margin: auto;
}

.right {
  width: 50%;
  float: right;
  text-align: end;
  margin: auto;
}

.icon {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5855af;
}

.svg {
  padding-bottom: 12px;
}

.forgot {
  width: 100%;
}
