/* NX = NOT EXPANDED */

.side-nav-container {
  width: 300px;
  height: 100vh;
  position: fixed;
  color: #fff;
  transition: 0.4s;
  z-index: 1;
  color: white;
  background: rgba(6, 40, 61, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
}

.side-nav-container-NX {
  width: 85px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.nav-footer {
  display: grid;
}

.nav-heading {
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

.nav-brand img {
  width: 270px;
  margin-top: -25px;
}

.hamburguer {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto -35px;
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 90px;
  height: 71px;
  width: 74px;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
}

.hamburguer span {
  display: block;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.4s;
}

.hamburguer:hover span {
  margin: auto;
}

.hamburguer-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}

.hamburguer-in:hover span:nth-child(2) {
  display: none;
}

.hamburguer-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}

.hamburguer-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0, 8px) rotate(-30deg);
}

.hamburguer-out:hover span:nth-child(2) {
  display: none;
}

.hamburguer-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0, -8px) rotate(30deg);
}

.nav-menu {
  grid-template-rows: repeat(auto-fit, 1fr);
  margin-top: 160px;
}

.menu-item {
  height: 57px;
  width: 16em;
  display: flex;
  color: #ffffff;
  font-family: "Carter One", cursive;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 20px;
  border-radius: 10px;
  position: relative;
}

.menu-item-NX {
  margin: auto;
  width: 4.5em;
}

.menu-item:hover {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  color: black;
}

.nav-views {
  padding: 0 25px;
  margin: 1rem 0;
}

.nav-icon {
  margin-left: 21px;
}

.log-in-icon {
  margin-left: 23px;
}

.log-out-icon {
  margin-left: 28px;
}

.log-out {
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  left: 95%;
  top: 19%;
  margin-left: 13px;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  width: auto;
  padding: 5px 10px;
  border-radius: 6px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.menu-item:hover .tooltip {
  display: block;
  opacity: 1;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
}

.nav-details {
  display: flex;
  margin-top: 10px;
}

.nav-footer-user-name {
  font-size: 18px;
  font-weight: 900;
  margin-top: 3px;
  margin-bottom: 0;
}

.nav-footer-user-position {
  color: #eee;
  margin-top: 0;
}

@media (max-width: 600px) {
  .side-nav-container-NX,
  .side-nav-container,
  .nav-menu {
    bottom: 0;
    width: 100vw;
    height: 3.7rem;
    display: flex;
    margin-top: 0;
    border: none;
    z-index: 100;
  }
  .menu-item,
  .menu-item-NX {
    margin-top: 0;
  }
  .nav-icon {
    margin: 2px auto;
  }
  .nav-heading,
  .hamburguer,
  .nav-brand img,
  .menu-item:hover .tooltip {
    display: none;
  }
  .nav-footer {
    display: none;
  }
}
