/* NX = NOT EXPANDED */

.side-nav-container{
  background-color: hsla(0, 40%, 98%, 0.092);
  backdrop-filter: blur(0.2rem);
  width: 300px;
  height: 100vh;
  position: relative;
  color: #fff;
  transition: 0.4s;
}

.side-nav-container-NX {
  width: 85px;
}

.nav-upper, 
.nav-heading,
.nav-menu,
.nav-footer {
  display: grid;
}

.nav-heading {
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

.nav-brand {
  display: flex;
}

.nav-brand img {
  width: 40px;
  padding: 0 10px;
}

.hamburguer {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto -35px;
  background-color: #e997bd;
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 90px;
  height: 71px;
  width: 74px;
}

.hamburguer span {
  display: block;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 15px;
  height: 4px;
  width: 30px;
  transition: 0.4s;
}

.hamburguer:hover span {
  margin: auto;
}

.hamburguer-in:hover span:nth-child(1){
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}

.hamburguer-in:hover span:nth-child(2){
  display: none;
}

.hamburguer-in:hover span:nth-child(3){
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}

.hamburguer-out:hover span:nth-child(1){
  width: 25px;
  transform: translate(0, 8px) rotate(-30deg);
}

.hamburguer-out:hover span:nth-child(2){
  display: none;
}

.hamburguer-out:hover span:nth-child(3){
  width: 25px;
  transform: translate(0, -8px) rotate(30deg);
}

.nav-menu {
  grid-template-rows: repeat(7, 1fr);
  margin-top: 60px;
}

.menu-item{
  height: 57px;
  width: 16em;
  display: flex;
  color: #e997bd;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 20px;
  border-radius: 10px;
  position: relative;
}

.menu-item-NX {
  margin: auto;
  width: 4.5em;
}

.menu-item:hover {
  background-color: #947c91;
  color: #e997bd;
}

.navViews {
  padding: 0 25px;
}

.navIcon {
  margin-left: 21px;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  background-color: hsla(0, 40%, 98%, 0.092);
}

.nav-details {
  display: flex;
  margin-top: 10px;
}

.nav-footer-user-name {
  font-size: 18px;
  font-weight: 900;
  margin-top: 3px;
  margin-bottom: 0;
}

.nav-footer-user-position {
  color: #eee;
  margin-top: 0;
}

.logOut {
  margin: auto;
  border-radius: 5px;
  margin-left: 30px;
}

.logOut:hover{
  cursor: pointer;
}








