.pricing-view {
  width: 100%;
  padding: 10rem 1rem;
  margin-left: auto;
}

.pricing-container {
  max-width: 1140px;
  margin-top: 15px;
}

.pricing-title h1 {
  margin-top: -70px;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Carter One", cursive;
  font-size: 4.5em;
  color: whitesmoke;
  text-transform: uppercase;
  line-height: 1em;
  outline: none;
  background: -webkit-linear-gradient(#aeffb9, #a091ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
/*   text-shadow: 0 0 7px #a091ff, 0 0 10px #aeffb9, 0 0 21px #a091ff,
   0 0 102px #a091ff, 0 0 151px #a091ff; */
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  justify-content: center;
  grid-gap: 7rem;
  text-align: center;
}

.pricing-container .pricing-card {
  border: 1px solid white;
  box-shadow: 5px 5px 20px #a091ff;
}

.pricing-card {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
}

.pricing-card h3 {
  color: black;
  font-size: 2.5rem;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  border-radius: 1rem;
}

.pricing-card img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
}

.pricing-card .divider {
  border-bottom: 1px solid white;
  width: 10%;
  margin: 1.5rem auto;
  display: block;
}

.price {
  color: #a091ff;
  font-size: 3.5rem;
  padding: 1rem;
}

.pricing-view p {
  color: white;
  padding: 0.5rem 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.pricing-card .pricing-btn {
  display: block;
  width: 80%;
  margin: 2rem auto;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid white;
}

.pricing-card .pricing-btn:hover {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
}

@media (max-width: 600px) {
  .pricing-view {
    padding: 0;
  }
  .price-grid {
    grid-gap: 1rem;
    margin: auto;
    width: 85%;
    padding-bottom: 50px;
  }
  .pricing-container {
    grid-template-columns: 1fr;
  }
  .pricing-container .pricing-card {
    box-shadow: none;
  }
  .pricing-card h3 {
    padding: 0.2em;
  }
  .pricing-card img {
    height: 10rem;
    object-fit: cover;
  }
  .price {
    padding: 0;
    margin: 10px 0;
  }
  .pricing-view p,
  .pricing-card .divider {
    display: none;
  }
  .pricing-card .pricing-btn {
    margin: 0;
    width: 100%;
  }
  .pricing-title h1 {
    padding: 30px 10px 15px;
    margin: auto;
    font-size: 3em;
  }
}
