.pricing-view {
  width: 100%;
  margin: auto;
}

.pricing-container {
  max-width: 1140px;
}

.pricing-title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 15px;
}

.pricing-title h1 {
  position: relative;
  margin-bottom: 50px;
  font-size: 4.5em;
  font-family: "Carter One", cursive;
  text-transform: uppercase;
  line-height: 1em;
  outline: none;
  background: -webkit-linear-gradient(#aeffb9, #a091ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  justify-content: center;
  grid-gap: 7rem;
  text-align: center;
  margin-bottom: 160px;
}

.pricing-container .pricing-card {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.pricing-card {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(2px);
}

.pricing-card h3 {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  border-radius: 1rem;
}

.pricing-card img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
}

.pricing-card .divider {
  border-bottom: 1px solid white;
  width: 10%;
  margin: 1.5rem auto;
  display: block;
}

.price {
  color: #a091ff;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 1rem;
}

.pricing-view p {
  color: white;
  padding: 0.5rem 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.pricing-btn {
  display: block;
  width: 80%;
  padding: 10px;
  text-decoration: none;
  margin: 2rem auto;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
}

.pricing-btn:hover {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 600px) {
  .pricing-view {
    padding: 0;
  }
  .price-grid {
    grid-gap: 1rem;
    margin: auto;
    width: 85%;
    padding-bottom: 50px;
  }
  .pricing-container {
    grid-template-columns: 1fr;
  }
  .pricing-container .pricing-card {
    box-shadow: none;
  }
  .pricing-card h3 {
    padding: 0.2em;
  }
  .pricing-card img {
    height: 10rem;
    object-fit: cover;
  }
  .price {
    padding: 0;
    margin: 10px 0;
  }
  .pricing-view p,
  .pricing-card .divider {
    display: none;
  }
  .pricing-card .pricing-btn {
    margin: 0;
    width: 100%;
  }
  .pricing-title h1 {
    font-size: 2.9em;
    margin: auto;
    justify-content: center;
  }
  .pricing-title {
    padding: 40px 0;
  }
}
