.publish-box h5 {
  /*   margin-left: 1rem; */
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}

.uploaded-files-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.uploaded-file {
  margin: 1rem 0.5rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.uploaded-file button {
  position: absolute;
  width: 130px;
  font-size: 1.1rem;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.uploaded-file button:hover {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  color: black;
}

.uploaded-file p {
  padding: 0 0.5rem;
  margin: 0;
}

.publish-btn label {
  width: 145px;
  text-align: center;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.publish-image {
  margin: 2rem 2rem 3rem;
}
