.search {
  padding: 10px;
  color: #e997bd;
  max-width: fit-content;
  background: hsla(270, 74%, 22%, 0.786);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search :is(input, button) {
  color: inherit;
  border: none;
  background: transparent;
  outline: none;
}

.search-input {
  width: 0;
  transition: width 0.5s;
}

.search-btn {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.search:focus-within input {
  width: 150px;
}

::placeholder {
  color: inherit;
}
