.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rajdhani", sans-serif;
}

.login-container {
  margin: auto;
  width: 28rem;
  font-size: 20px;
}

.show-password {
  position: absolute;
  top: -4%;
  left: 80%;
}

.show-password2 {
  position: absolute;
  top: -30%;
  left: 80%;
}

.signin,
.signup {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 3rem 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(2px);
}

.login-container h1 {
  font-family: "Carter One", cursive;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social a {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 3rem;
  height: 3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.social a:hover {
  border: none;
  animation: shake 0.25s;
  outline: 1px solid #fff;
  outline-offset: 4px;
}

.social-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

.social-twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.social-facebook:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

p {
  text-align: center;
  margin: 1rem 0;
}

.login-container form select {
  display: block;
  width: 100%;
  outline: none;
  padding: 0.8rem;
  color: white;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.login-container form input {
  display: block;
  width: 100%;
  outline: none;
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.login-container form input::placeholder {
  color: white;
}

.login-container form input[type="submit"] {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
}

.login-container form input[type="submit"]:hover {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
}

.login-container form small {
  display: block;
  margin-top: 1rem;
}

.login-container form small label {
  color: yellow;
  cursor: pointer;
}

.login-container form small label:hover {
  opacity: 0.8;
}

/* Sign Up */

.sign-up-btn {
  margin-top: 45px;
}

.gr {
  height: 20px;
  width: 20px;
}

.forgot a {
  text-decoration: none;
  font-size: 1em;
}

.icon-eye {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  border: none;
}

.svg {
  padding-bottom: 12px;
  min-width: 1.5rem;
}

.forgot {
  width: 100%;
}

.align-password {
  margin-top: 13px;
}

/* Responsive */

/* Surface Duo */
@media (max-width: 540px) and (max-height: 720px) {
  .register {
    height: inherit;
  }
  .signin,
  .signup {
    margin: 50px 0;
  }
}

/* iPad Mini */
@media (min-width: 768px) and (min-height: 1024px) {
  .register {
    margin-left: 80px;
  }
}

@media (min-width: 820px) {
  .register {
    margin-left: 80px;
  }
}

@media (max-width: 480px) {
  .signin {
    padding-top: 150px;
    height: 100vh;
    border: none;
    border-radius: 0;
    background: none;
  }
  .signup {
    height: 100vh;
    border: none;
    border-radius: 0;
    background: none;
  }
}

@media (max-width: 375px) {
  .register {
    height: inherit;
  }
  .signin {
    padding-top: 0;
  }
  .signup {
    height: inherit;
    padding-top: 0;
  }
}
