@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://i.imgur.com/W6PAoD9.jpg") no-repeat center center/cover;
    font-family: poppins;
    font-size: 1rem;
    /*overflow: hidden;*/
}

.login-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width:100%; 
    max-height:100%; 
    width: 28rem;
}

.show-password {
    position: absolute;
    top: -4%;
    left: 80%;
}

.show-password2 {
    position: absolute;
    top: -30%;
    left: 80%;
}

.signin, 
.signup {
    color: white;
    background: rgba(48, 30, 30, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 3rem 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(30px);
    animation: animateForm 1s ease forwards;
}

.login-container h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.social {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social a {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 3rem;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
}

.social a:hover {
    background: white;
    color: black;
}

p {
    text-align: center;
    margin: 1rem 0;
}

.login-container form input {
    display: block;
    width: 100%;
    outline: none;
    padding: 1.2rem;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}

.login-container form input::placeholder {
    color: white;
}

.login-container form input[type="submit"] {
    background: #47d2fc;
    transition: all 300ms ease;
    cursor: pointer;
    transition: all 300ms ease;
}

.login-container form input[type="submit"]:hover {
    opacity: 0.8;
}

.login-container form small{
    display: block;
    margin-top: 1rem;
}

.login-container form small label {
    color: yellow;
    cursor: pointer;
}

.login-container form small label:hover {
    opacity: 0.8;
}

/* Sign Up */

.signup {
    display: none;
}

#toggle:checked ~ .signin {
    display: none;
}

#toggle:checked ~ .signup {
    display: block;
}

@keyframes animateForm {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#toggle {
    display: none;
}

.gr {
    height: 20px;
    width: 20px;
}

.forgot a {
    text-decoration: none;
    font-size: 1em
}

.icon-eye {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    border: none;
  }
  
.svg {
    padding-bottom: 12px;
    min-width: 1.5rem;
  }
  
.forgot {
    width: 100%;
  }
  
  