.styles-card-container {
  width: 320px;
  margin-top: 5px;
  margin-left: 100px;
}

.styles-img-box img {
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.styles-card {
  display: block;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem black;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.styles-card-content {
  position: absolute;
  background-color: rgba(0 0 0/95%);
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 19%;
  padding: 2rem 0;
  overflow: hidden;
  transition: 0.7s;
}

.styles-card-content h1 {
  font-family: "Carter One", cursive;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
}

.styles-card-content p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  padding: 0.2rem;
}

.styles-card-content:hover {
  height: 60%;
  transition: 0.7s;
}

.styles-components {
  text-align: center;
  margin-left: 120px;
  padding-top: 70px;
  padding-bottom: 15px;
}

.styles-title {
  position: relative;
  margin-bottom: 50px;
  font-size: 4.5em;
  font-family: "Carter One", cursive;
  text-transform: uppercase;
  line-height: 1em;
  outline: none;
  background: -webkit-linear-gradient(#aeffb9, #a091ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.styles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  justify-content: center;
  grid-gap: 2.8rem;
  text-align: center;
}

.tattooStyles-container {
  margin-bottom: 3rem;
}

@media (max-width: 480px) {
  .styles-card-container {
    width: 75%;
    margin: auto;
  }
  .styles-img-box img {
    height: 15rem;
  }
  .styles-card-heading {
    margin-top: -15px;
  }
  .styles-card-content p {
    visibility: hidden;
  }
  .styles-components {
    padding: 40px 0;
    margin: auto;
  }
  .styles-title {
    font-size: 3em;
    margin: auto;
    justify-content: center;
  }
}
