.private-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem 10rem;
}

.private-card {
  width: 80%;
  margin-left: 130px;
  max-width: 98rem;
  padding: 4rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.private-img {
  min-width: 35rem;
  max-width: 35rem;
  transform: translateX(-8rem);
  position: relative;
}

.private-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
}

.private-style-intro {
  font-family: "Rajdhani", sans-serif;
  font-size: 3rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
}

.private-style-info {
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  text-align: start;
}

.private-info span {
  color: #a091ff;
  font-weight: bold;
}

.like-dislike {
  display: flex;
  margin-top: 60px;
}

.no-fav {
  display: flex;
  width: 120px;
  margin-right: 10px;
  padding: 10px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.fav {
  display: flex;
  width: 120px;
  margin-right: 10px;
  padding: 10px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  color: black;
}

.fav-icon {
  font-size: 1.7rem;
  margin-right: 10px;
}

.go-back {
  text-align: end;
  margin-top: 60px;
}

.go-back button {
  display: inline-block;
  width: 200px;
  margin: 2rem auto;
  padding: 10px;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
}

.go-back button:hover {
  background-image: linear-gradient(to bottom right, #aeffb9 0%, #a091ff 100%);
  color: black;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 1280px) {
  .private-title h1 {
    margin-left: 140px;
  }
  .private-container {
    padding: 0 0 10rem;
  }
  .private-card {
    padding: 1rem;
    flex-direction: column;
  }
  .private-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3rem);
  }
  .private-info h3 {
    margin: 0;
    text-align: center;
    font-size: 3.8rem;
    line-height: 4rem;
  }
  .private-info p {
    margin-top: 30px;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }
  .go-back button {
    width: 150px;
  }
}

@media (max-width: 820px) {
  .private-title h1 {
    margin-left: 100px;
  }
  .private-card {
    margin-left: 100px;
    width: 80%;
  }
  .private-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3rem);
  }
  .private-info h3 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
  }
  .private-info p {
    margin-top: 30px;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 600px) {
  .private-container {
    margin-top: 2rem;
  }
  .private-title h1 {
    font-size: 2.9em;
    padding: 40px 0;
    margin: 0px 0px 30px;
  }
  .private-card {
    margin: auto;
    width: 95%;
  }
  .private-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3rem);
  }
  .private-info h3 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    line-height: 2.9rem;
  }
  .private-info p {
    margin-top: 30px;
    font-size: 1.7rem;
    line-height: 2.3rem;
  }
  .like-dislike {
    justify-content: center;
  }
  .go-back button {
    width: 40%;
  }
}
