.card-container {
  max-width: 100%;
  margin-top: 5px;
}

.img-box img {
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 2rem;
  text-align: center;
  margin: auto;
}

.card {
  display: block;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem black;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.card-content {
  position: absolute;
  background-color: rgba(0 0 0/50%);
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 20%;
  padding: 2.2rem 0;
  overflow: hidden;
  transition: 0.7s;
}

.card-content h1 {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: capitalize;
}

.card-content p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 1.2rem;
}

.card-content:hover {
  height: 60%;
  transition: 0.7s;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
