.styles-card-container {
  width: 320px;
  margin-top: 5px;
  margin-left: 100px;
}

.styles-img-box img {
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.styles-card {
  display: block;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem black;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.styles-card-content {
  position: absolute;
  background-color: rgba(0 0 0/50%);
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 18%;
  padding: 2.2rem 0;
  overflow: hidden;
  transition: 0.7s;
}

.styles-card-content h1 {
  font-family: "Carter One", cursive;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
}

.styles-card-content p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.5rem;
  padding: 0.9rem;
}

.styles-card-content:hover {
  height: 60%;
  transition: 0.7s;
}

.tattooStyles-container {
  margin-bottom: 3rem;
}

.styles-components {
  margin-left: 120px;
  padding-top: 70px;
  padding-bottom: 15px;
}

.styles-title {
  position: relative;
  margin-bottom: 50px;
  font-size: 4.5em;
  font-family: "Carter One", cursive;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  width: 80%;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.7em;
  outline: none;
  text-shadow: 0 0 7px #A91079, 0 0 10px #A91079, 0 0 21px #A91079,
    0 0 102px #A91079, 0 0 151px #A91079;
}

.styles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  justify-content: center;
  grid-gap: 2.8rem;
  text-align: center;
}

@media (max-width: 480px) {
  .styles-card-container {
    width: 75%;
    margin-left: 85px;
    padding-left: 10px;
  }
  .styles-img-box img {
    height: 15rem;
  }
  .styles-card-content p {
    visibility: hidden;
  }
  .styles-title {
    font-size: 3.7em;
  }
}

