.styles-card-container {
  width: 90%;
  margin: auto;
  position: relative;
}

.styles-img-box img {
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.styles-card {
  display: block;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem black;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.styles-card-content {
  position: absolute;
  background-color: rgba(0 0 0/85%);
  bottom: 0;
  color: #fff;
  width: 100%;
  height: 15%;
  padding: 1.3rem 0;
  overflow: hidden;
  transition: 0.7s;
}

.styles-card-content h1 {
  font-family: "Carter One", cursive;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.styles-card-content:hover {
  height: 28%;
  transition: 0.7s;
}

.styles-components {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 15px;
}

.styles-title {
  position: relative;
  margin-bottom: 50px;
  font-size: 4.5em;
  font-family: "Carter One", cursive;
  text-transform: uppercase;
  line-height: 1em;
  outline: none;
  background: -webkit-linear-gradient(#aeffb9, #a091ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.styles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  justify-content: center;
  grid-gap: 2.8rem;
  text-align: center;
}

.tattooStyles-container {
  margin-bottom: 10rem;
}

/* Responsive */
@media(max-width: 1024px) {
  .styles-grid {
    margin-left: 100px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 380px));
  }
  .styles-title {
    margin-left: 100px;
  }
}

@media(max-height: 1024px) {
  .styles-grid {
    margin-left: 100px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 300px));
  }
  .styles-title {
    margin-left: 100px;
  }
}

@media (max-width: 600px) {
  .styles-grid {
    margin: auto;
  }
  .styles-card-container {
    width: 100%;
    margin: auto;
  }
  .styles-img-box img {
    height: 19rem;
  }
  .styles-card-heading {
    margin: -11px 0 7px;
  }
  .styles-card-content {
    height: 36%;
  }
  .styles-card-content:hover {
    height: 36%;
  }
  .styles-components {
    padding: 40px 0;
    margin: auto;
  }
  .styles-title {
    font-size: 2.9em;
    margin: auto;
    justify-content: center;
  }
}

@media(max-width: 3000px) {
  .styles-title {
    margin-left: auto;
  }
}
